body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding:0.5;
    background-color: #7359a7;
   }
   h1{
   text-align: center;
   color: #eaeff2;
   font-size:60px ;
   }
   form{
    max-width: 6000px;
    margin: auto;
    background-color: #a6dc92;
    box-shadow:0 4px 8px rgba(0,0,0,0.5);
    padding: 20px; 
   }
   fieldset{
    border: 2px solid #7cc614;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
   }
   legend{
    font-weight: bold;
    text-align: left;
    color:#2c3e50;
    font-size: xx-large;
   }
   label{
    display:  block;
    margin-top: 10px;
    color: #2c3e50;
    font-size: 20px;
   
   }
   input,textarea{
    width: calc(100% - 1px);
    padding: 8px;
    margin: 4px;
    border: 1px solid #3498bd;
    border-radius: border-box;
    box-sizing: border-box;
   }
   button{
   
    display: block;
    width: calc(100% -1px);
    padding: 10px;
    background-color: rgba(3, 108, 3, 0.416);
    color:rgb(19, 21, 21);
    border: none;
    border-radius: 18px;
    cursor:pointer;
    margin-top: 0 auto;
    font-size: 34px;
    font-family: 'Times New Roman', Times, serif;
   }
   button:hover{
    background-color: #e624ed;
   }
   